---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ronin-frontend-configs
data:
  AMAZON_REDIRECT_URI: dev.${SECRET_DOMAIN}
  NODE_ENV: development
  DATABASE_ENABLE_LOGGING: "false"
  BETTER_AUTH_URL: https://dev.${SECRET_DOMAIN}
  AWS_DEFAULT_REGION: eu-west-2
  EMAIL_HEADER_URL: https://dev.${SECRET_DOMAIN}/email-header.png
  WEBSITE_URL: https://dev.${SECRET_DOMAIN}
  EMAIL_FROM_ADDRESS: "Ronin <support@app.roninds.co.uk>"
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: ronin-frontend-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: ops-store
  target:
    name: ronin-frontend-secrets
  data:
    - secretKey: ADMIN_API_KEY
      remoteRef:
        key: RONIN_MISC
        property: FRONTEND_ADMIN_API_KEY
    - secretKey: AMAZON_APP_ID
      remoteRef:
        key: AMAZON_SECRETS
        property: AMAZON_APP_ID
    - secretKey: AMAZON_CLIENT_ID
      remoteRef:
        key: AMAZON_SECRETS
        property: AMAZON_CLIENT_ID
    - secretKey: AMAZON_CLIENT_SECRET
      remoteRef:
        key: AMAZON_SECRETS
        property: AMAZON_CLIENT_SECRET
    - secretKey: BETTER_AUTH_SECRET
      remoteRef:
        key: RONIN_MISC
        property: BETTER_AUTH_SECRET
    - secretKey: APP_DATABASE_URL
      remoteRef:
        key: DATABASE_SECRETS
        property: RONIN_DB
    - secretKey: AUTH_DATABASE_URL
      remoteRef:
        key: DATABASE_SECRETS
        property: AUTH_DB
    - secretKey: LAKE_DATABASE_URL
      remoteRef:
        key: DATABASE_SECRETS
        property: LAKE_DB
    - secretKey: AWS_ACCESS_KEY_ID
      remoteRef:
        key: FRONTEND_SECRETS
        property: AWS_ACCESS_KEY_ID
    - secretKey: AWS_SECRET_ACCESS_KEY
      remoteRef:
        key: FRONTEND_SECRETS
        property: AWS_SECRET_ACCESS_KEY
    - secretKey: RESEND_API_KEY
      remoteRef:
        key: FRONTEND_SECRETS
        property: RESEND_API_KEY